

<div class="course-card" [ngClass]="cardClass()">
    
    <div class="course-title">
       {{index || + '' + ' ' + course.description}}
    </div>
   

    <ng-template #blankImage>
        <p class="warn"> No Image is available for {{course.description}}.</p>
        <img src="/assets/empty-image.png">
    </ng-template>

    <ng-content select=".img2"></ng-content>

    <div *ngIf="course.iconUrl; else blankImage">
        <div class="course-category" [ngSwitch]="course.category">
            <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>
            <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
            <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
            <div class="category" *ngSwitchDefault >All Level</div>
        </div>
    </div>

    <div class="course-description">
        {{course.longDescription}}
    </div>

    <button (click)="onCourseViewed()">View Course</button>

</div>