<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
    <div>StartDate: {{startDate | date: 'yyyy/mm/dd'}}</div>
    <div>{{title | uppercase}}</div>
</div>

<div class="courses">  

    @for (course of courses; track course.id; let index2 = $index;
     let count = $count; let first = $first ;
     let even = $even;) {

        <h1>count: {{count}}</h1>

        <course-card (courseSelected)="onCourseSelected($event)"
          [course]="course"
          [index]="index2"
          [class.is-first]="first"
          [class.is-last]="$last"
          [class.is-even]="even"
          [class.is-odd]="$odd"
        />
    }
    @empty {
        <h1>دوره آموزشی یافت نشد</h1>
    }
</div>

