<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
    <div>StartDate: {{startDate | date: 'yyyy/mm/dd'}}</div>
    <div>{{title | uppercase}}</div>
</div>


<button (click)="onEdited()">Edit Courses</button>

<div class="courses" *ngIf="courses[2] as course">  
    <course-card  
     (courseSelected)="onCourseSelected($event)"  [course]="course" >

     <img width="300" alt="Angular Logo"
             [src]="course.iconUrl">
      <h5>total Lessons: 5</h5>  
    </course-card> 
     
     

</div>

